/* * {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   /* }  */

   #container {
	width: 100%;
	max-width: 1200px;
}

.purple {
	border-color: #a70da7;
}
nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

main {
	margin-top: 0px;
}

   footer {
	background-color: grey;
	padding-top: 18px;
}
#footerContent {
	display: flex;
	justify-content: space-around;

}

.footerColumn h3 {
	color: rgba(255, 255, 255, .6);
	margin-top: 30px;    
	font-weight: 400;
    font-size: 1.0em;
}

.footerColumn li, .footerColumn p {
	color: white;
}

.footerColumn li::marker, .footerColumn p::marker {
	color: white;
}

.card{
    border: black 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%

}


.cardImg{
    width : 100%;
}