/* MAIN */

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Raleway';
  /* color: black; */
  text-decoration: none;
  list-style: none;
  color: inherit;

}

/* NAVIGATION BAR */

.booki{
  width: 100px;
  display: block;
  margin-right: auto;
}

.navigation{
  display: flex;
  justify-content: space-between;
  padding: 1px;
}


.navbar {
  display: flex;
  /* flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;  */
}

h1{
  font-size: 150%;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 16px;
}


.logo {
  /* display: inline-block; */
  /* padding: 25px 0px; */
  padding-top: 10px;
}

ul{
  list-style-type: none;
}

a.hover:hover{
  color:#0065FC;
  border-top: solid #0065FC;
}

/* header{
  display: flex;
  justify-content: space-between;
  padding: 1px;
  flex-direction: column;
}

header .logo {
  padding: 25px 0px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

header nav ul li {
  padding: 50px 25px;
  border-top: 4px solid transparent;
  margin: 0px 20px 0px 20px;
} */

/* HEADER */



.filtres{
  display: flex;
  justify-content: flex-start;
}

.filtres>li{
  padding-right: 10px;
  margin-right: 20px;
  border-radius: 50px;
  border: 2px solid #F2F2F2;
  font-weight: bold;
}

.filtres>li:hover{
  color:#0065FC;
  border: solid #0065FC;
}

.logements{
  color:#0065FC;
  border: 1px grey solid;
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
}

.filtres li>i{
  color: #0065FC;
  padding: 20px;
  border-radius: 50px;
  background-color: #DEEBFF;
}

input{
	padding: 4px;
	font-family: Georgia;
  position: absolute;
  right: 80px;
  left: 50px;
  height: 100%;
  border:none;
  font-weight: bold;
}

.rechercher{
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  width: 450px;
  padding: 0;
  margin: 0;
  position: relative;
  font-weight: bold;
}



.button{
  border-radius: 0px 20px 20px 0px;
  background-color: #DEEBFF;
  position: absolute;
  right:0px;
  height: 100%;
}

.button:after{
  /* content:"<i class='fas fa-search'></i>" */
}


.searchIcon{
  padding: 20px;
  border-radius:20px 0px 0px 20px;
  background-color: #F2F2F2;
}




/* MAIN PAGE */


.main{
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.gris{
  color: #F2F2F2;
}

/* HEBERGEMENTS A MARSEILLE */

.marseille{
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 60%;
}

.blue{
  color: #0065FC;
}

/* .box3 a{
  width: 30%;
  margin-bottom: 50px;
  text-decoration: none;
  color: inherit;
} */

/* .a article{
  background-color: white;
  padding: 1px;
  border-radius: 25px;
  display: block;
} */

/* .a{
  text-decoration: none;
  color: inherit;
  width: 30%;
  margin-bottom: 50px;
} */


.card {
  background-color: white;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 16px #0000002e;
  /* margin-bottom: 50px; */
}

.card h4,p{
  margin: 0px 5px 5px 10px;
}

.cardImg{
  width : 100%;
  height: 125px;
  padding: 5px;
  padding: 5px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}


.figcaption{
  padding: 0px 0px 10px 10px;
  text-decoration: none;
}

.figcaption h4{
  margin: 0px;
}

.box3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.box3 a{
  text-decoration: none;
  color: inherit;
  width: 30%;
}

.ctn{
  padding: 20px 20px 10px 20px;

  box-sizing: content-box;
  display: block;
}

/* LES PLUS POPULAIRE // hebergements2 */


.populaire{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 35%;
  position: relative;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  height: 30%;
  display: block;
}

.card2div{
  position: absolute;
}

.cardImg2{
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  object-fit: cover;
  height: 140px;
}


.populaire .box3{
  flex-direction: column;
}

.ctn2{
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 20px;
}

.boxpopulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}

.a_populaire{
  width: 100%;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.a_populaire article{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  align-items: stretch;
  overflow: auto;
  height: 100%;
}

.chart-icone{
  right: 20px;
  top: 45px;
  position: absolute;
}

/* ACTIVITES */

#activite {
  margin-bottom: 60px;
  ;
}

.activite-list {
  display: flex;
  justify-content: space-between;
  height: 600px;
}

.activite-list .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite-list .column article img {
  width: 100%;
  height: calc(100% - 67px);
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
  height: 100%;
  box-shadow: 0px 0px 10px 0px #E0E0E0;
  border-radius: 25px;
}

.activite-list .column article h3 {
  padding: 21px;
  margin: 0px;
}

.activite-list .column.double article {
  height: 48%;
}


/* FOOTER */
footer {
  background-color: #F2F2F2;
  /* margin: 0px -50px; */
  padding: 40px;
  display: flex;
}

footer .column {
  width: 30%;
}

footer .column ul {
  padding: 0px;
  list-style-type: none;
}

footer .column ul li a {
  color: black;
  text-decoration: none;
  line-height: 35px;
}


/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */


/* @media all and (max-width: 600px) {
  .navbar {
    flex-flow: column wrap;
    padding: 0;
  }
  .navbar a { 
    text-align: center; 
    padding: 10px;
  }
  .navbar li:last-of-type a {
    border-bottom: none;
  }
} */






/* @media(max-width: 900px){
  .filtres {
    flex-wrap: wrap;
}

.marseille {
    flex-direction: column;
}

.marseille,
.marseille .populaire {
    width: 100%;
    margin-bottom: 20px;
}

#activite .activite-list {
    flex-wrap: wrap;
    height: auto;
}

#activite .activite-list .column {
    width: 48%;
}

footer {
    justify-content: space-between;
}

footer .column {
    width: auto;
}
} */

@media(max-width: 768px) {

  header{
    flex-direction: column;
  }
  .logo{
    margin: auto;
  }
  .filtres{
    flex-direction: column;
    align-items: flex-start;
  }
  .rechercher{
    width: auto
  }
  .navigation{
    flex-direction: column;
  }
  .navbar li{
    border-bottom: 2px solid #F2F2F2;
    text-align: center;
    width: 50%;
    margin: 0px;
  }
  .navbar{
    margin: 0px -20px;
    padding: 0;
  }
  .main{
    flex-direction: column;
    /* display: flex; */
  }
  .populaire{
    order: 1;
    width: 100%;
    margin-bottom: 20px;
    background-color: #F2F2F2;
  }
  .marseille{
    order: 2;
    width: 100%;
    background-color: #F2F2F2;
  }
  .box3{
    flex-direction: column;
  }
  .box3 a{
    width: 100%;
  }

  .activite-list {
    flex-wrap: wrap;
    height: auto;
  }
  .activite-list .column {
  width: 100%;
}
.activite-list .column article, .activite-list .column.double article {
  height: 250px;
  margin-bottom: 20px;
}
.marseille{
  background-color: white;
}
footer {
  flex-direction: column;
  padding: 10px;
}

footer .column{
  width: auto;
}

}