/* MAIN */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: black;
}

/* NAVIGATION BAR */

.booki{
  height: 50px;
  display: block;
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0; 
}


.navbar a {
  text-decoration: none;
  display: block;
  padding: 16px;
}


.logo {
  display: inline-block;
}

ul{
  list-style-type: none;
}

a.hover:hover{
  color:#0065FC;
  border-top: solid #0065FC;
}

/* HEADER */

.filtres{
  display: flex;
  justify-content: flex-start;
}

.filtres>li{
  padding-right: 10px;
  margin-right: 20px;
  border-radius: 50px;
  border: 2px solid #F2F2F2;
}

.filtres>li:hover{
  color:#0065FC;
  border: solid #0065FC;
}

.logements{
  color:#0065FC;
  border: 1px grey solid;
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
}

.filtres li>i{
  color: #0065FC;
  padding: 20px;
  border-radius: 50px;
  background-color: #DEEBFF;
}

input{
	padding: 4px;
	font-family: Georgia;
  position: absolute;
  right: 80px;
  left: 50px;
  height: 100%;
  border:none;
}

.rechercher{
  border-radius: 20px;
  border: 1px solid #F2F2F2;
  width: 450px;
  padding: 0;
  margin: 0;
  position: relative;
}

.button{
  border-radius: 0px 20px 20px 0px;
  background-color: #DEEBFF;
  position: absolute;
  right:0px;
  height: 100%;
}

.searchIcon{
  padding: 20px;
  border-radius:20px 0px 0px 20px;
  background-color: #F2F2F2;
}

/* MAIN PAGE */


.main{
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

/* HEBERGEMENTS A MARSEILLE */

.hebergements{

  background-color: #F2F2F2;
  border-radius: 20px;

  width: 60%;

}



.blue{
  color: #0065FC;
}

/* .box3 a{
  width: 30%;
  margin-bottom: 50px;
  text-decoration: none;
  color: inherit;
} */

/* .a article{
  background-color: white;
  padding: 1px;
  border-radius: 25px;
  display: block;
} */

.a{
  text-decoration: none;
  color: inherit;
  width: 30%;
  margin-bottom: 50px;
}


.card {
  background-color: white;
  border-radius: 25px;
  display: block;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 50px;
}


.cardImg{
  width : 100%;
  height: 125px;
  padding: 5px;
  padding: 5px;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
}




figcaption{
  margin: 20px;
  text-decoration: none;
}


.box3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.ctn{
  padding: 20px 20px 10px 20px;

  box-sizing: content-box;
  display: block;
}

/* LES PLUS POPULAIRE // HEBERGEMENT2 */

.hebergement2{
  display: flex;
   flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 25px;
  width: 35%;
}


.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  border-radius: 15px;

  width: 100%;
  height: 30%;
  display: block;
}

.cardImg2{
  /* width : 40%;
  height: 100%;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  padding: 5px; */

  border-radius: 25px 0px 0px 25px;
    width: 35%;
    object-fit: cover;
    height: 100%;
}



.hebergement2 .box3{
  flex-direction: column;
}

.ctn2{
  background-color: var(--grey);
  padding: 20px 20px 10px 20px;
  border-radius: 20px;
  height: calc(100% - 120px);
  box-sizing: content-box;
}

.boxpopulaire{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.a_populaire{
  width: 100%;
  color: black;
  text-decoration: none;
  margin-bottom: 50px;
}

.a_populaire article{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  border-radius: 25px;
  align-items: stretch;
  overflow: auto;
  height: 100%;
}


/* ACTIVITES */

#activite {
  margin-bottom: 60px;
  ;
}

.activite-list {
  display: flex;
  justify-content: space-between;
  height: 600px;
}

.activite-list .column {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}

.activite-list .column article img {
  width: 100%;
  height: calc(100% - 67px);
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
  height: 100%;
  box-shadow: 0px 0px 10px 0px #E0E0E0;
  border-radius: 25px;
}

.activite-list .column article h3 {
  padding: 21px;
  margin: 0px;
}

.activite-list .column.double article {
  height: 48%;
}


/* FOOTER */
footer {
  background-color: var(--grey);
  margin: 0px -50px;
  padding: 50px;
  display: flex;
}

footer .column {
  width: 30%;
}

footer .column ul {
  padding: 0px;
  list-style-type: none;
}

footer .column ul li a {
  color: black;
  text-decoration: none;
  line-height: 35px;
}


/* Responsive columns - one column layout (vertical) on small screens */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */

@media all and (max-width: 800px) {
  .navbar {
    justify-content: space-around;
  }
  .logo{
    align-self: left;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    flex-flow: column wrap;
    padding: 0;
  }
  .navbar a { 
    text-align: center; 
    padding: 10px;
  }
  .navbar li:last-of-type a {
    border-bottom: none;
  }
}